<?xml version="1.0"?>
<launch>

<arg name="ns" default="flir_ros_interface" />
<arg name="autostart" default="true" />
<!-- <arg name="autostart" default="false" /> -->
<arg name="visualize" default="true" />

<group ns="$(arg ns)">

    <node name="tracker" type="interface_color" pkg="real_time_3d_tracking" output="screen">
    </node>
    <!-- respawn="true" -->
    <node pkg="rosservice" type="rosservice" name="tracker_starter" if="$(arg autostart)" args="call --wait /$(arg ns)/tracker/start " />

</group>

</launch>
